|&emsp;&emsp;&emsp;&emsp;Имя:&nbsp;
= f.text_field :name
=@note.errors.full_messages.join(', ')
br
|Содержимое:&nbsp;
= f.text_field :body
br
|&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;Теги:&nbsp;
= f.text_field :tags, label: "Теги"
br
= f.file_field :image