h1 Профиль пользователя
| email:&nbsp
= current_user.email
br
| Дата создания:&nbsp
= current_user.created_at
br
| Роль:&nbsp
= current_user.role
br
= image_tag current_user.avatar.url(:medium)


td = button_to "редактировать профиль", edit_user_registration_path, method: :get, class: "btn btn-primary"
= link_to 'На главную', home_index_path, class: "btn btn-primary"
