h1
  =t("persons.profile.index")
| email:&nbsp
= current_user.email
br
=t("persons.profile.datecreate")
|:&nbsp
= current_user.created_at
br
=t("persons.profile.role")
|:&nbsp
= current_user.role
br
= image_tag current_user.avatar.url(:medium)


td = button_to t("persons.profile.btnedit"), edit_user_registration_path, method: :get, class: "btn btn-primary"
= link_to t("persons.profile.home"), home_index_path, class: "btn btn-primary"
