h1 Persons#profile
p Find me in app/views/persons/profile.html.erb



= current_user.email
br
| Дата создания:
= current_user.created_at
br
| Роль:
= current_user.role
br
= image_tag current_user.avatar.url(:medium)
br
= current_user.avatar.url

td = button_to "редактировать профиль", edit_user_registration_path, method: :get
br
= link_to 'На главную', home_index_path

/<p class="notice"><%= notice %></p>
/<p class="alert"><%= alert %></p>