
= f.input :name, label: "name"

= f.text_field :all_tags, label: "tags"


= if (current_user.role == 'admin')
      Access
      f.select :access, options_for_select(["admin", "user"],:disabled => ["Select One"])

<br>
